*.cab binary
*.dll binary
*.exe binary
*.whl binary
*.zip binary
packages/windows/python312._pth text eol=lf
install_windows.cmd -text
start_windows.cmd -text
stop_windows.cmd -text
Запустить?PropExtract.cmd -text
Остановить?PropExtract.cmd -text
